/* The following 10 lines of code was adapted from https://github.com/processing/p5.js/wiki/Positioning-your-canvas Accessed: 2023-05-24*/
html,
body {
  height: 100%;
}

/*body {
  background-color: #001532;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}*/

body {
  display: grid;
  grid-template-columns: 50px 200px 400px 200px 50px;
  grid-template-rows: 50px 400px 300px 50px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}
#game {
  background-color: #c4cad1;
  grid-area: 2/3/4/4;
  justify-content: center;
  align-items: center;
}
.scoreboard {
  grid-area: 2/4/3/5;
  background-color: #c4cad1;
  display: flex;
  flex-direction: column;
}
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
canvas {
  justify-content: center;
  align-items: center;
  position: absolute;
}

/*
.backgroundDrop {
  left: 5rem;
  position: fixed;
}
canvas {
  top: 3rem;
  left: 30rem;
  position: absolute;
}
*/
