/* The following 10 lines of code was adapted from https://github.com/processing/p5.js/wiki/Positioning-your-canvas Accessed: 2023-05-24*/
html,
body {
  height: 100%;
}

body {
  background-color: #001532;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.backgroundDrop {
  position: absolute;
}
